


@import url('../styles.css');




.menu {
    position: relative;
  }
  
.menu-button {
    background-color: #fff;
    border: none;
    cursor: pointer;
    
}

.menu-button i{
    font-size: 30px;
    color: black;
}



.menu-options {
    position: absolute;
    top: 0;
    right: 0;
    list-style: none;
    transition: opacity .5s ease;
    animation: slide .5s;
    width:fit-content;
    display: none;
}



.menu-options li {
    margin-top: 20px;
    padding: 10px;
    color: #000000;
    transition: all .45s ease;
    font-size: 14px;
    background-color: #f0eaea;
  }
  


.drop-down{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
}

.drop-down h4{
    color: #070606;
    font-size: 20px;
    margin-left: 40%;
}


.close-button{
    background-color: black;
    border: none;
    
}

.close-button i{
    color: #fefefe;
    font-size: 22px;
}



#section{
    width: 100vw;
    padding: 10px 20px;
    margin-bottom: 90px;
}

.input{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(219, 216, 216);
    padding: 40px 20px;
    box-shadow: 5px 5px 20px rgb(161, 177, 180);
    animation-name: moveInRight;
    animation-duration: 2.5s;
    border-radius: 20px;
}


.input h3{
    font-size: 20px;
}

input{
    margin-top: 35px;
    padding: 8px 12px;
    font-size: 18px;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    outline: none;
    background-color: rgba(55, 135, 143, 0.2);
    transition: border .95s ease-in-out;
}

input:hover{
    border: 1px solid rgb(53, 187, 214);
}


.input button{
    margin-top: 35px;
    font-size: 20px;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    background-color:rgb(53, 187, 214) ;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all .45s ease;
}

.input button:hover{
    background-color:rgb(25, 132, 153) ;
}

.output{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#xook{
    width: 100%;
    height: 250px;
    background-size: cover;
    padding: 40px;
    display: block;
    box-shadow: 2px 2px 20px #1DB954;
    animation-name: moveInRight;
    animation-duration: 2.5s;
}

#kjk, #Try{
    margin-top: 35px;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    background-color:#1DB954 ;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all .45s ease;
}
#Try{
    background-color: aqua;
}
#kjk:hover{
    background-color:rgb(25, 132, 153) ;
}




.glass-effect {
    background: none;
    backdrop-filter: blur(30px);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.glass-effect form,
.glass-effect .output-page {
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
}



@media only screen and (min-width: 800px) {
    
    .sign-up{
        margin-left: 80vw;
    }
    

    .input{
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .output{
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .second {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .other-games{
        padding: 80px;
        height: 260px;
    }
  }