



@import url('styles.css');








.menu {
    position: relative;
    margin-left: 220px;
  }
  
.menu-button {
    padding: 10px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    
}

.menu-button i{
    font-size: 30px;
    color: black;
}



.menu-options {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    list-style: none;
    transition: opacity .5s ease;
    animation: slide .5s;
    background-color: transparent;
    width:fit-content;
    display: none;
}



.menu-options li {
    margin-top: 20px;
    padding: 5px;
    color: #050303;
    transition: all .45s ease;
    font-size: 12px;
  }
  
.menu-options li:hover {
    background-color: #4c4949;
  }


.drop-down{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
}

.drop-down h4{
    color: #0f0d0d;
    font-size: 20px;
    margin-left: 40%;
}


.close-button{
    background-color: black;
    border: none;
    
}

.close-button i{
    color: #f0f0f0;
    font-size: 22px;
}





.animation-class{
    /* animation: slideUp s; */
    opacity: 0.7;
}
.glass-effect {
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
