
@import url('../styles.css');





.menu {
    position: relative;
  }
  
.menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    
}

.menu-button i{
    font-size: 30px;
    color: black;
}



.menu-options {
    position: absolute;
    top: 0;
    right: 0;
    height: 50vh;
    list-style: none;
    transition: opacity .5s ease;
    animation: slide .5s;
    /* background-color: black; */
    width:fit-content;
    display: none;
}



.menu-options li {
    margin-top: 20px;
    padding: 10px;
    color: #000000;
    transition: all .45s ease;
    font-size: 14px;
    background-color: #f0eaea;
  }
  



.drop-down{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
}

.drop-down h4{
    color: #070606;
    font-size: 20px;
    margin-left: 40%;
}


.close-button{
    background-color: black;
    border: none;
    
}

.close-button i{
    color: #fefefe;
    font-size: 22px;
}













body{
    background-image: url("https://images.unsplash.com/photo-1627894485229-ff2c619723e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
}



/* Main Section Starts */


section{
    margin: 0px 0px 100px 0px;
    border: 2px solid #1DB954;
    border-left: none;
    border-right: none;
    border-radius: 8px;
}

.questions{
    background-color: #1f2937;
    opacity: 0.8;
    padding: 30px 30px;
    max-height: 60vh;
}

.questions h2{
    font-size: 17px;
    margin-bottom: 30px;
    line-height: 10px;
    color: whitesmoke;
}

.questions h3{
    margin-bottom: 20px;
    color: whitesmoke;
    font-size: 30px;
}



#q1{
    animation: slideRight 1s;
    margin-left: 30px;
}
#q2, #q3, #q4, #q5, #q6, #q7, #q8, #q9, #q10{
    display: none;
    animation: slideRight 1s;
    margin-left: 30px;
}

input{
    margin-bottom: 20px;
}

input[type="radio"] {
    transform: scale(1.7); /* Adjust the scale value to increase or decrease the size */
    margin-right: 4px;
    cursor: pointer;
}
  
.question-option{
    font-size: 24px;
    font-weight: 600;
    color: #1DB954;
    text-align: center;
}


#load{
    display: none;
    text-align: center;
    background-color: #1f2937;
    opacity: 0.8;
    padding-top: 40px;
    color: whitesmoke;
    height: 50vh;
    padding: 80px 20px;
}

#load h3{
    color: whitesmoke;
}
.loading-circle1 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    animation: spin 1s linear infinite;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 50px;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

.hidden{
    display: none;
}


#content{
    text-align: center;
    background-color: #1f2937;
    opacity: 0.8;
    padding: 70px 20px;
    max-height: 50vh;
    position: relative;
}

#content h3, h4{
    color: whitesmoke;
}

#content h3{
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 40px;
}

#content h4{
    font-size: 16px;
    margin-bottom: 60px;
}
#content p{
    color: #179744;
    position: absolute;
    left: 40%;
    top: 5px;
}
#but, #share-button, #but10{
    width: 160px;
    background-color: #1DB954;
    border: none;
    color: whitesmoke;
    font-size: 22px;
    border-radius: 8px;
    letter-spacing: 1px;
    transition: all .45s ease;
    opacity: 1.6;
    cursor: pointer;
}

#but:hover, #but10:hover{
    background-color: #179744;
    /* transform: scale(.95); */
}






.glass-effect {
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


